.label {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: black;
}

.button {
  -fx-background-color: #eda615;
  -fx-color: black;
  -fx-font-size: 12px;
  -fx-text-align: center;
  -fx-display: inline-block;
  -fx-font-family: Helvetica, Arial, sans-serif;
  -fx-text-fill: black;
  -fx-font-size: 20px;
  -fx-transition-duration: 0.4s;
  -fx-cursor: pointer;
}

.button:hover {
 /* -fx-background-color: #f44336;*/
  -fx-background-color: linear-gradient(#a61022,  #f39f18);
  -fx-border-color: black;
}

.layout {
    -fx-background-color: linear-gradient(#a61022,  #f39f18);
    -fx-background-size: 600 500;
}

#errorLabel {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 30px;
}