.label {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button {
  -fx-background-color: #D2D2D2;
  -fx-color: black;
  -fx-padding: 12px 28px;
  -fx-text-align: center;
  -fx-display: inline-block;
  -fx-font-family: Helvetica, Arial, sans-serif;
  -fx-text-fill: black;
  -fx-font-size: 30px;
  -fx-transition-duration: 0.4s;
  -fx-cursor: pointer;
}

.button:hover {
  -fx-background-color: #778899 ;/*linear-gradient(#a61022,  #f39f18);*/
  -fx-border-color: black;
}