.button {
  -fx-background-color: #f39f18; /* yellow */
  -fx-border: none;
  -fx-color: white;
  -fx-font-size: 12px;
  -fx-border-radius: 50%;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-margin: 4px 2px;
  -fx-webkit-transition-duration: 0.4s;
  -fx-transition-duration: 0.4s;
  -fx-cursor: pointer;
}
