.label {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.stackpane {
    -fx-border-style: none none solid none;
    -fx-border-color:black;
}

.button {
    -fx-background-color: transparent;
    -fx-border-style: solid solid none solid;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.layout{
    -fx-background-color: linear-gradient(#1e90ff,  #87cefa);
    -fx-background-size: 600 500;
}
#pane{
    -fx-background-image: url("wolf_pizza.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 200;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
